/*COLOR*/
$primary-color: #102030; // mydewetra blu
$secondary-color: rgb(242,148,0); // mydewetra orange
$white: #fff;


/*BOOTSTRAP COLOR*/
$bs-primary-color: rgb(39, 128, 227);
$bs-secondary-color: rgb(242,148,0);
$bs-success-color: rgb(63, 182, 24); //mydewetra green
$bs-info-color: #243d7d; //blu it-alert
$bs-warning-color: $secondary-color ; //mydewetra orange
$bs-danger-color: rgb(255, 0, 57); //mydewetra red

/*NOT USED*/

//$dark-color: #17324d; // blu scurissimo
//$aborted-color:#9884d2;

/*BACKGROUND COLOR*/
$bg-primary-color: #d9e6f4 ;
$bg-secondary-color: #f7f7f9;


/*FONT*/
//$font-primary-family: ;
//$font-secondary-family: ;

/*MISC*/
$border-radius: 8px;
$pad_25:25px;
$pad_35:15px; //35px

/*DIMENSIONS*/
$h-auth: 30px;
$h-header: 3em;
$h-footer: 20px;

$url: "/img";


/*MARGIN E PADDING*/
$mp1: 1%;
$mp2: 2%;
$mp3: 3%;
$mp4: 4%;
$mp5: 5%;
$mp10: 10%;
$mp20: 20%;

/*FONT SIZE*/
//$font-size-1: ;
//$font-size-2: ;
//$font-size-3: ;
//$font-size-4: ;
//$font-size-5: ;
